@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Tweets</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ID 
            </th>
            <th>
                Text
            </th>
            <th>
                Language
            </th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            if (float.Parse(item.Score) >= 0.5)
            {
                <tr style="background-color : lightgreen">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
            }
            else
            {
                <tr style="background-color : lightcoral">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
